{% extends "layout.html" %}

{% block content %}


		<!-- Header -->
			<header id="header">
				<h1>Hustle</h1>
				<p>Facebook Live sales simplified.<br /></p>
			</header>

		<!-- put the forget apssword fields here-->


		<!-- Footer -->


			<footer id="footer">
				<p><ul class="copyright">
					<li><a href="forgot.html">Forgot password?</a></li><li><a href="register.html">Create an account</a></li>
				</ul></p>


			</footer>


		<!-- Scripts -->
			<script src="/static/assets/js/main.js"></script>



{% endblock %}